## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [27]:
# Your code here
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)
print(len(sample_list_1))

[48, 89, 96, 55, 2, 37, 27, 28, 60, 79, 39, 12, 16, 50, 19, 58, 92, 73, 49, 24, 31, 61, 32, 11, 86, 4, 40, 15, 47, 93, 8, 44, 43, 53, 34, 20, 29, 52, 21, 90, 84, 13, 22, 7, 82, 97, 26, 85, 46, 62, 41, 56, 33, 69, 23, 65, 94, 10, 3, 6, 36, 14, 77, 67, 68, 78, 54, 64, 91, 70, 59, 63, 80, 30, 99, 66, 76, 83, 25, 51]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [29]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1))

{2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 89, 90, 91, 92, 93, 94, 96, 97, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [43]:
# Your code here
sample_list_2 = [random.randint(1, 100) for i in range(80)]
print(sample_list_2)
len(sample_list_2)

[30, 63, 85, 72, 69, 17, 48, 79, 41, 40, 77, 26, 88, 10, 48, 89, 3, 61, 99, 29, 50, 52, 15, 20, 60, 20, 31, 20, 18, 37, 49, 12, 36, 63, 68, 61, 16, 5, 39, 27, 17, 28, 30, 43, 57, 57, 38, 8, 27, 72, 14, 43, 93, 18, 27, 93, 66, 18, 74, 96, 64, 30, 85, 59, 27, 49, 18, 29, 43, 99, 18, 65, 83, 96, 2, 90, 24, 53, 10, 47]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [45]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))
#It is not still 80, because the values aren't unique. Every time I run the previous code, it will change.

{2, 3, 5, 8, 10, 12, 14, 15, 16, 17, 18, 20, 24, 26, 27, 28, 29, 30, 31, 36, 37, 38, 39, 40, 41, 43, 47, 48, 49, 50, 52, 53, 57, 59, 60, 61, 63, 64, 65, 66, 68, 69, 72, 74, 77, 79, 83, 85, 88, 89, 90, 93, 96, 99}
54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [46]:
# Your code here
set3 = set1 - set2
print(set3)

{4, 6, 7, 11, 13, 19, 21, 22, 23, 25, 32, 33, 34, 44, 46, 51, 54, 55, 56, 58, 62, 67, 70, 73, 76, 78, 80, 82, 84, 86, 91, 92, 94, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [47]:
# Your code here
set4 = set2 - set1
print(set4)

{5, 38, 72, 74, 17, 18, 88, 57}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [48]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 3, 8, 10, 12, 14, 15, 16, 20, 24, 26, 27, 28, 29, 30, 31, 36, 37, 39, 40, 41, 43, 47, 48, 49, 50, 52, 53, 59, 60, 61, 63, 64, 65, 66, 68, 69, 77, 79, 83, 85, 89, 90, 93, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [60]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#relationship between set1 and set2 is nonexistent, as in, it is random. They are two separate sets.
#set3 = set1 - set5 
#set4 = set2 - set5
#set5 = (set1 - set3)

print(len(set3) == len(set1) - len(set5))
print(len(set4) == len(set2) - len(set5))
print(len(set5) == (len(set1) - len(set3)))

80
54
34
8
46
True
True
True

#### Create an empty set called `set6`.

In [104]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [105]:
# Your code here

for i in set3:
    set6.update([i])
print(set6)

for i in set5:
    set6.update([i])
print(set6)

{2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 89, 90, 91, 92, 93, 94, 96, 97, 99}
{2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 89, 90, 91, 92, 93, 94, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [106]:
# Your code here
print(len(set6))

len(set1) == len(set6)

80

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [109]:
# Your code here
z = set2.issubset(set1)

print(z)

y = set3.issubset(set1)

print(y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [112]:
# Your code here
u = set3.union(set4, set5)
print(u)

n = set1.union(set2)
print(n)

{2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}
{2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [115]:
# Your code here
h = set1.pop()
print(h)

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [127]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)
print(set_to_remove)

new_set = ([i for i in set1 if i not in set_to_remove])
print(new_set)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
[4, 6, 7, 8, 10, 12, 13, 14, 15, 16, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 40, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 76, 77, 78, 80, 82, 83, 84, 85, 86, 90, 92, 93, 94, 96, 97]